# L5: Information extraction

Information extraction (IE) is the task of identifying named entities and semantic relations between these entities in text data. In this lab we will focus on two sub-tasks in IE, **named entity recognition** (identifying mentions of entities) and **entity linking** (matching these mentions to entities in a knowledge base).

**Reminder about our [Rules for hand-in assignments](https://www.ida.liu.se/~TDDE16/exam.en.shtml#handins) and the [Policy on cheating and plagiarism](https://www.ida.liu.se/~TDDE16/exam.en.shtml#cheating)**

We start by loading spaCy:

In [1]:
import spacy

nlp = spacy.load('en_core_web_sm')

The data that we will be using has been tokenized following the conventions of the [Penn Treebank](ftp://ftp.cis.upenn.edu/pub/treebank/public_html/tokenization.html), and we need to prevent spaCy from using its own tokenizer on top of this. We therefore override spaCy&rsquo;s tokenizer with one that simply splits on space.

In [2]:
from spacy.tokens import Doc

class WhitespaceTokenizer(object):
    def __init__(self, vocab):
        self.vocab = vocab

    def __call__(self, text):
        return Doc(self.vocab, words=text.split(' '))

nlp.tokenizer = WhitespaceTokenizer(nlp.vocab)

## Data set

The main data set for this lab is a collection of news wire articles in which mentions of named entities have been annotated with page names from the [English Wikipedia](https://en.wikipedia.org/wiki/). The next code cell loads the training and the development parts of the data into Pandas data frames.

In [3]:
import bz2
import csv
import pandas as pd

with bz2.open('ner-train.tsv.bz2', 'rt') as source:
    df_train = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

with bz2.open('ner-dev.tsv.bz2', 'rt') as source:
    df_dev = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

Each row in these two data frames corresponds to one mention of a named entity and has five columns:

1. a unique identifier for the sentence containing the entity mention
2. the pre-tokenized sentence, with tokens separated by spaces
3. the start position of the token span containing the entity mention
4. the end position of the token span (exclusive, as in Python list indexing)
5. the entity label; either a Wikipedia page name or the generic label `--NME--`

The following cell prints the first five samples from the training data:

In [4]:
df_train.head()

,sentence_id,sentence,beg,end,label
0,0000-000,EU rejects German call to boycott British lamb .,0,1,--NME--
1,0000-000,EU rejects German call to boycott British lamb .,2,3,Germany
2,0000-000,EU rejects German call to boycott British lamb .,6,7,United_Kingdom
3,0000-001,Peter Blackburn,0,2,--NME--
4,0000-002,BRUSSELS 1996-08-22,0,1,Brussels

In this sample, we see that the first sentence is annotated with three entity mentions:

* the span 0–1 &lsquo;EU&rsquo; is annotated as a mention but only labelled with the generic `--NME--`
* the span 2–3 &lsquo;German&rsquo; is annotated with the page [Germany](http://en.wikipedia.org/wiki/Germany)
* the span 6–7 &lsquo;British&rsquo; is annotated with the page [United_Kingdom](http://en.wikipedia.org/wiki/United_Kingdom)

## Problem 1: Evaluation measures

To warm up, we ask you to write code to print the three measures that you will be using for evaluation:

In [4]:
def evaluation_report(gold, pred):
    """Print precision, recall, and F1 score.
    
    Args:
        gold: The set with the gold-standard values.
        pred: The set with the predicted values.
    
    Returns:
        Nothing, but prints the precision, recall, and F1 values computed
        based on the specified sets.
    """
    
    intersection = len(gold & pred)
    
    # Precision
    precision = intersection/len(pred)
    print("Precision: ", precision)
      
    # Recall
    recall = intersection/len(gold)
    print("Recall: ", recall)
    
    # F1 score
    print("F1 score: ", 2 * precision * recall/(precision + recall))

To test your code, you can run the following cell:

In [16]:
evaluation_report(set(range(3)), set(range(5)))

Precision:  0.6
Recall:  1.0
F1 score:  0.7499999999999999

This should give you a precision of 60%, a recall of 100%, and an F1-value of 75%.

## Problem 2: Span recognition

One of the first tasks that an information extraction system has to solve is to locate and classify (mentions of) named entities, such as persons and organizations. Here we will tackle the simpler task of recognizing **spans** of tokens that contain an entity mention, without the actual entity label.

The English language model in spaCy features a full-fledged [named entity recognizer](https://spacy.io/usage/linguistic-features#named-entities) that identifies a variety of entities, and can be updated with new entity types by the user. Your task in this problem is to evaluate the performance of this component when predicting entity spans in the development data.

Start by implementing a generator function that yields the gold-standard spans in a given data frame.

**Hint:** The Pandas method [`itertuples()`](https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.itertuples.html) is useful when iterating over the rows in a DataFrame.

In [5]:
def gold_spans(df):
    """Yield the gold-standard mention spans in a data frame.

    Args:
        df: A data frame.

    Yields:
        The gold-standard mention spans in the specified data frame as
        triples consisting of the sentence id, start position, and end
        position of each span.
    """
    for row in df.itertuples(False):
        yield (row[0], row[2], row[3])

To test your code, you can count the spans yielded by your function. When called on the development data, you should get a total of 5,917 unique triples. The first triple and the last triple should be

    ('0946-000', 2, 3)
    ('1161-010', 1, 3)

In [6]:
spans_dev_gold = set(gold_spans(df_dev))
print(len(spans_dev_gold))

5917

Your next task is to write code that calls spaCy to predict the named entities in the development data, and to evaluate the accuracy of these predictions in terms of precision, recall, and F1. Print these scores using the function that you wrote for Problem&nbsp;1.

In [7]:
pred = set()
for row in df_dev.itertuples(False):
    for ent in nlp(row[1]).ents:
        pred.add((row[0], ent.start, ent.end))
        
evaluation_report(spans_dev_gold, pred)

Precision:  0.5213954072029113
Recall:  0.702213959776914
F1 score:  0.5984444764511019

## Problem 3: Error analysis

As you were able to see in Problem&nbsp;2, the span accuracy of the named entity recognizer is far from perfect. In particular, only slightly more than half of the predicted spans are correct according to the gold standard. Your next task is to analyse this result in more detail.

Here is a function that prints the false positives as well as the false negatives spans for a data frame, given a reference set of gold-standard spans and a candidate set of predicted spans.

In [8]:
from collections import defaultdict

def error_report(df, spans_gold, spans_pred):
    false_pos = defaultdict(list)
    for s, b, e in spans_pred - spans_gold:
        false_pos[s].append((b, e))
    false_neg = defaultdict(list)
    for s, b, e in spans_gold - spans_pred:
        false_neg[s].append((b, e))
    for row in df.drop_duplicates('sentence_id').itertuples():
        if row.sentence_id in false_pos or row.sentence_id in false_neg:
            print('Sentence:', row.sentence)
            for b, e in false_pos[row.sentence_id]:
                print('  FP:', ' '.join(row.sentence.split()[b:e]))
            for b, e in false_neg[row.sentence_id]:
                print('  FN:', ' '.join(row.sentence.split()[b:e]))

Use this function to inspect and analyse the errors that the automated prediction makes. Can you see any patterns? Base your analysis on the first 500 rows of the training data. Summarize your observations in a short text.

In [45]:
error_report(df_dev.iloc[0:500], spans_dev_gold, pred)

Sentence: CRICKET - LEICESTERSHIRE TAKE OVER AT TOP AFTER INNINGS VICTORY .
  FN: LEICESTERSHIRE
Sentence: LONDON 1996-08-30
  FP: 1996-08-30
Sentence: West Indian all-rounder Phil Simmons took four for 38 on Friday as Leicestershire beat Somerset by an innings and 39 runs in two days to take over at the head of the county championship .
  FP: 39
  FP: two days
  FP: Friday
  FP: four
  FP: 38
Sentence: After bowling Somerset out for 83 on the opening morning at Grace Road , Leicestershire extended their first innings by 94 runs before being bowled out for 296 with England discard Andy Caddick taking three for 83 .
  FP: 83
  FP: 94
  FP: the opening morning
  FP: 296
  FP: first
  FP: three
  FP: 83
Sentence: Trailing by 213 , Somerset got a solid start to their second innings before Simmons stepped in to bundle them out for 174 .
  FP: 174
  FP: 213
  FP: second
Sentence: Essex , however , look certain to regain their top spot after Nasser Hussain and Peter Such gave them a firm grip on their match against Yorkshire at Headingley .
  FP: Yorkshire at
  FN: Yorkshire
  FN: Essex
Sentence: Hussain , considered surplus to England 's one-day requirements , struck 158 , his first championship century of the season , as Essex reached 372 and took a first innings lead of 82 .
  FP: 158
  FP: one-day
  FP: first
  FP: 372
  FP: 82
  FP: first
Sentence: By the close Yorkshire had turned that into a 37-run advantage but off-spinner Such had scuttled their hopes , taking four for 24 in 48 balls and leaving them hanging on 119 for five and praying for rain .
  FP: 119
  FP: four
  FP: 24
  FP: 48
  FP: five
  FN: Such
Sentence: At the Oval , Surrey captain Chris Lewis , another man dumped by England , continued to silence his critics as he followed his four for 45 on Thursday with 80 not out on Friday in the match against Warwickshire .
  FP: Thursday
  FP: 80
  FP: Friday
  FP: four
  FP: 45
Sentence: He was well backed by England hopeful Mark Butcher who made 70 as Surrey closed on 429 for seven , a lead of 234 .
  FP: 70
  FP: 429
  FP: seven
  FP: 234
Sentence: Derbyshire kept up the hunt for their first championship title since 1936 by reducing Worcestershire to 133 for five in their second innings , still 100 runs away from avoiding an innings defeat .
  FP: first
  FP: 133
  FP: 1936
  FP: second
  FP: five
  FP: 100
  FN: Derbyshire
Sentence: Australian Tom Moody took six for 82 but Chris Adams , 123 , and Tim O'Gorman , 109 , took Derbyshire to 471 and a first innings lead of 233 .
  FP: 123
  FP: 109
  FP: six
  FP: 82
  FP: 471
  FP: 233
  FP: first
Sentence: After the frustration of seeing the opening day of their match badly affected by the weather , Kent stepped up a gear to dismiss Nottinghamshire for 214 .
  FP: 214
Sentence: They were held up by a gritty 84 from Paul Johnson but ex-England fast bowler Martin McCague took four for 55 .
  FP: four
  FP: 55
  FP: 84
  FN: ex-England
Sentence: By stumps Kent had reached 108 for three .
  FP: 108
  FP: three
Sentence: CRICKET - ENGLISH COUNTY CHAMPIONSHIP SCORES .
  FP: CRICKET - ENGLISH COUNTY CHAMPIONSHIP SCORES
  FN: ENGLISH COUNTY CHAMPIONSHIP
Sentence: LONDON 1996-08-30
  FP: 1996-08-30
Sentence: Result and close of play scores in English county championship matches on Friday :
  FP: English county
  FP: Friday
  FN: English
Sentence: Leicester : Leicestershire beat Somerset by an innings and 39 runs .
  FP: 39
  FN: Leicestershire
  FN: Leicester
Sentence: Somerset 83 and 174 ( P. Simmons 4-38 ) , Leicestershire 296 .
  FP: 174
  FP: 83
  FP: 296
  FN: Somerset
  FN: Leicestershire
  FN: P. Simmons
Sentence: Leicestershire 22 points , Somerset 4 .
  FP: 22
  FP: 4
  FN: Leicestershire
  FN: Somerset
Sentence: Chester-le-Street : Glamorgan 259 and 207 ( A. Dale 69 , H. Morris 69 ; D. Blenkiron 4-43 ) , Durham 114 ( S. Watkin 4-28 ) and 81-3 .
  FP: 4-28
  FP: 259
  FP: D.
  FP: H. Morris 69
  FP: 81-3
  FN: H. Morris
  FN: Chester-le-Street
  FN: S. Watkin
  FN: A. Dale
  FN: D. Blenkiron
Sentence: Tunbridge Wells : Nottinghamshire 214 ( P. Johnson 84 ; M. McCague 4-55 ) , Kent 108-3 .
  FP: M. McCague 4-55
  FN: Kent
  FN: M. McCague
  FN: Nottinghamshire
  FN: P. Johnson
Sentence: London ( The Oval ) : Warwickshire 195 , Surrey 429-7 ( C. Lewis 80 not out , M. Butcher 70 , G. Kersey 63 , J. Ratcliffe 63 , D. Bicknell 55 ) .
  FP: Surrey 429-7
  FP: D.
  FP: G. Kersey 63
  FP: J. Ratcliffe 63
  FP: 55
  FP: 195
  FN: C. Lewis
  FN: Warwickshire
  FN: J. Ratcliffe
  FN: G. Kersey
  FN: Surrey
  FN: D. Bicknell
  FN: The Oval
Sentence: Hove : Sussex 363 ( W. Athey 111 , V. Drakes 52 ; I. Austin 4-37 ) , Lancashire 197-8 ( W. Hegg 54 )
  FP: V. Drakes 52
  FP: Lancashire 197-8
  FP: I. Austin 4-37
  FP: W. Hegg 54
  FP: W. Athey 111
  FN: Lancashire
  FN: I. Austin
  FN: Hove
  FN: V. Drakes
  FN: W. Hegg
  FN: Sussex
  FN: W. Athey
Sentence: Portsmouth : Middlesex 199 and 426 ( J. Pooley 111 , M. Ramprakash 108 , M. Gatting 83 ) , Hampshire 232 and 109-5 .
  FP: Hampshire 232
  FP: 199
  FP: 109-5
  FP: 426
  FP: J. Pooley 111
  FP: M. Gatting 83
  FP: M. Ramprakash 108
  FN: Portsmouth
  FN: Middlesex
  FN: J. Pooley
  FN: Hampshire
  FN: M. Gatting
  FN: M. Ramprakash
Sentence: Chesterfield : Worcestershire 238 and 133-5 , Derbyshire 471 ( J. Adams 123 , T.O'Gorman 109 not out , K. Barnett 87 ; T. Moody 6-82 )
  FP: 109
  FP: J. Adams 123
  FP: Worcestershire 238 and 133-5
  FP: T. Moody 6-82
  FN: T.O'Gorman
  FN: J. Adams
  FN: Worcestershire
  FN: Derbyshire
  FN: T. Moody
Sentence: Bristol : Gloucestershire 183 and 185-6 ( J. Russell 56 not out ) , Northamptonshire 190 ( K. Curran 52 ; A. Smith 5-68 ) .
  FP: 183
  FP: J. Russell 56
  FP: A. Smith 5-68
  FP: Northamptonshire 190 ( K. Curran 52
  FN: Northamptonshire
  FN: J. Russell
  FN: K. Curran
  FN: A. Smith
  FN: Gloucestershire
Sentence: CRICKET - 1997 ASHES INTINERARY .
  FP: CRICKET - 1997
  FN: ASHES
Sentence: LONDON 1996-08-30
  FP: 1996-08-30
Sentence: Australia will defend the Ashes in
  FN: Ashes
Sentence: a six-test series against England during a four-month tour
  FP: four-month
Sentence: starting on May 13 next year , the Test and County Cricket Board
  FP: May 13 next year
  FN: Test and County Cricket Board
Sentence: Australia will also play three one-day internationals and
  FP: three
Sentence: as well as one-day matches against the Minor Counties and
  FP: one-day
  FN: Minor Counties
Sentence: May 13 Arrive in London
  FP: May 13 Arrive
Sentence: May 14 Practice at Lord 's
  FP: May 14 Practice
  FN: Lord 's
Sentence: May 15 v Duke of Norfolk 's XI ( at Arundel )
  FP: XI
  FP: May 15 v Duke of Norfolk 's
  FN: Arundel
  FN: Duke of Norfolk 's XI
Sentence: May 17 v Northampton
  FP: May 17
Sentence: May 18 v Worcestershire
  FP: May 18 v
  FN: Worcestershire
Sentence: May 20 v Durham
  FP: May 20
  FN: Durham
Sentence: May 22 First one-day international ( at Headingley ,
  FP: May 22 First one-day
Sentence: May 24 Second one-day international ( at The Oval ,
  FP: May 24 Second
Sentence: May 25 Third one-day international ( at Lord 's , London )
  FP: May 25 Third one-day
  FN: Lord 's
Sentence: May 27-29 v Gloucestershire or Sussex or Surrey ( three
  FP: May 27-29 v Gloucestershire
  FP: three
  FN: Gloucestershire
Sentence: May 31 - June 2 v Derbyshire ( three days )
  FP: May 31 - June 2 v Derbyshire
  FP: three days
  FN: Derbyshire
Sentence: June 5-9 First test match ( at Edgbaston , Birmingham )
  FP: First
  FP: June 5-9
Sentence: June 14-16 v Leicestershire ( three days )
  FP: June 14-16
  FP: three days
  FN: Leicestershire
Sentence: June 19-23 Second test ( at Lord 's )
  FP: June 19-23
  FP: Second
  FN: Lord 's
Sentence: June 25-27 v British Universities ( at Oxford , three days )
  FP: June 25-27
  FP: British
  FP: three days
  FN: British Universities
Sentence: June 28-30 v Hampshire ( three days )
  FP: June 28-30 v Hampshire
  FP: three days
  FN: Hampshire
Sentence: July 3-7 Third test ( at Old Trafford , Manchester )
  FP: July 3-7 Third
Sentence: July 9 v Minor Counties XI
  FP: July 9
  FN: Minor Counties XI
Sentence: July 12 v Scotland
  FP: July 12
Sentence: July 16-18 v Glamorgan ( three days )
  FP: three days
  FP: July 16-18
  FN: Glamorgan
Sentence: July 19-21 v Middlesex ( three days )
  FP: three days
  FP: July 19-21
  FN: Middlesex
Sentence: July 24-28 Fourth test ( at Headingley )
  FP: July 24-28
  FP: Fourth
Sentence: August 1-4 v Somerset ( four days )
  FP: August 1-4
  FP: four days
  FN: Somerset
Sentence: August 7-11 Fifth test ( at Trent Bridge , Nottingham )
  FP: August 7-11 Fifth
Sentence: August 16-18 v Kent ( three days )
  FP: August 16-18
  FP: three days
  FN: Kent
Sentence: August 21-25 Sixth test ( at The Oval , London ) .
  FP: August 21-25
  FP: Sixth
Sentence: SOCCER - SHEARER NAMED AS ENGLAND CAPTAIN .
  FN: SHEARER
  FN: ENGLAND
Sentence: LONDON 1996-08-30
  FP: 1996-08-30
Sentence: The world 's costliest footballer Alan Shearer was named as the new England captain on Friday .
  FP: Friday
Sentence: The 26-year-old , who joined Newcastle for 15 million pounds sterling ( $ 23.4 million ) , takes over from Tony Adams , who led the side during the European championship in June , and former captain David Platt .
  FP: 15 million pounds
  FP: June
  FP: $ 23.4 million
Sentence: Adams and Platt are both injured and will miss England 's opening World Cup qualifier against Moldova on Sunday .
  FP: Sunday
  FN: Adams
Sentence: " There were three or four people who could have done it but when I spoke to Alan he was up for it and really wanted it .
  FP: three
  FP: four
Sentence: Shearer 's Euro 96 striking partner Teddy Sheringham withdrew from the squad with an injury on Friday .
  FP: Friday
Sentence: BELGRADE 1996-08-30
  FP: 1996-08-30
  FN: BELGRADE
Sentence: SOCCER - ROMANIA BEAT LITHUANIA IN UNDER-21 MATCH .
  FN: ROMANIA
  FN: LITHUANIA
Sentence: BUCHAREST 1996-08-30
  FP: 1996-08-30
  FN: BUCHAREST
Sentence: Romania beat Lithuania 2-1 ( halftime 1-1 ) in their European under-21 soccer match on Friday .
  FP: Friday
  FP: 1-1
Sentence: Romania - Cosmin Contra ( 31st ) , Mihai Tararache ( 75th )
  FP: Romania - Cosmin Contra
  FP: 75th
  FN: Cosmin Contra
  FN: Romania
Sentence: Lithuania - Danius Gleveckas ( 13rd )
  FN: Danius Gleveckas
Sentence: SOCCER - ROTOR FANS LOCKED OUT AFTER VOLGOGRAD VIOLENCE .
  FN: VOLGOGRAD
  FN: ROTOR
Sentence: MOSCOW 1996-08-30
  FP: 1996-08-30
Sentence: Rotor Volgograd must play their next home game behind closed doors after fans hurled bottles and stones at Dynamo Moscow players during a 1-0 home defeat on Saturday that ended Rotor 's brief spell as league leaders .
  FP: Saturday
  FP: Volgograd
  FN: Rotor Volgograd
  FN: Rotor
Sentence: The head of the Russian league 's disciplinary committee , Anatoly Gorokhovsky , said on Friday that Rotor would play Lada Togliatti to empty stands on September 3 .
  FP: Friday
  FP: September 3
  FP: the Russian league 's
  FN: Rotor
  FN: Russian
Sentence: The club , who put Manchester United out of last year 's UEFA Cup , were fined $ 1,000 .
  FP: last year 's
  FP: 1,000
Sentence: Despite the defeat , Rotor are well placed with 11 games to play in the championship .
  FP: 11
  FN: Rotor
Sentence: Lying three points behind Alania and two behind Dynamo Moscow , the Volgograd side have a game in hand over the leaders and two over the Moscow club .
  FP: two
  FP: three
  FP: two
Sentence: BOXING - PANAMA 'S ROBERTO DURAN FIGHTS THE SANDS OF TIME .
  FN: PANAMA
  FN: ROBERTO DURAN
Sentence: PANAMA CITY 1996-08-30
  FP: PANAMA
  FN: PANAMA CITY
Sentence: Panamanian boxing legend Roberto " Hands of Stone " Duran climbs into the ring on Saturday in another age-defying attempt to sustain his long career .
  FP: Saturday
Sentence: Duran , 45 , takes on little-known Mexican Ariel Cruz , 30 , in a super middleweight non-title bout in Panama City .
  FP: 30
  FP: 45
Sentence: The fight , Duran 's first on home soil for 10 years , is being billed here as the " Return of the Legend " and Duran still talks as if he was in his prime .
  FP: first
  FP: 10 years
  FN: Return of the Legend
Sentence: If he loses Saturday , it could devalue his position as one of the world 's great boxers , " Panamanian Boxing Association President Ramon Manzanares said .
  FP: Saturday
  FN: Panamanian
  FN: Boxing Association
Sentence: Duran , whose 97-12 record spans three decades , hopes a win in the 10-round bout will earn him a rematch against Puerto Rico 's Hector " Macho " Camacho .
  FP: 97-12
  FP: three decades
  FP: Puerto Rico 's
  FN: Puerto Rico
Sentence: Camacho took a controversial points decision against the Panamanian in Atlantic City in June in a title fight .
  FP: June
Sentence: SQUASH - HONG KONG OPEN QUARTER-FINAL RESULTS .
  FP: SQUASH - HONG KONG OPEN
  FN: HONG KONG OPEN
Sentence: HONG KONG 1996-08-30
  FP: 1996-08-30
Sentence: Quarter-final results in the Hong Kong Open on Friday ( prefix number denotes seeding ) : 1 - Jansher Khan ( Pakistan ) beat Mark Cairns ( England ) 15-10 15-6 15-7
  FP: 15-10 15-6
  FP: 1
  FP: the Hong Kong Open
  FP: Friday
  FN: Hong Kong Open
  FN: Jansher Khan
Sentence: Anthony Hill ( Australia ) beat Dan Jenson ( Australia ) 15-9 15-8 15-17 17-15
  FP: 15-9
Sentence: 4 - Peter Nicol ( Scotland ) beat 7 - Chris Walker ( England ) 15-8 15-13 13-15 15-9
  FP: 7
  FP: 4 - Peter Nicol
  FP: 15-8 15-13
  FN: Peter Nicol
  FN: England
  FN: Chris Walker
Sentence: 2 - Rodney Eyles ( Australia ) beat Derek Ryan ( Ireland ) 15-6 15-9 11-15 15-10 .
  FP: 2 - Rodney Eyles
  FP: 15-6 15-9 11-15 15-10
  FN: Ireland
  FN: Rodney Eyles
Sentence: SEOUL 1996-08-30
  FP: SEOUL 1996-08-30
  FN: SEOUL
Sentence: Pohang 3 Ulsan 2 ( halftime 1-0 )
  FP: Pohang 3 Ulsan 2
  FN: Ulsan
  FN: Pohang
Sentence: Puchon 2 Chonbuk 1 ( halftime 1-1 )
  FP: 2
  FP: 1-1
  FN: Puchon
  FN: Chonbuk
Sentence: Puchon 3 1 0 6 1 10
  FP: 3 1 0 6 1 10
  FN: Puchon
Sentence: Chonan 3 0 1 13 10 9
  FP: 9
  FN: Chonan
Sentence: Pohang 2 1 1 11 10 7
  FP: Pohang 2 1 1 11
  FN: Pohang
Sentence: Suwan 1 3 0 7 3 6
  FN: Suwan
Sentence: Ulsan 1 0 2 8 9 3
  FN: Ulsan
Sentence: Anyang 0 3 1 6 9 3
  FP: 0 3 1 6 9 3
  FN: Anyang
Sentence: Pusan 0 2 1 3 7 2
  FP: Pusan 0 2 1 3
  FN: Pusan
Sentence: Chonbuk 0 0 3 3 7 0
  FP: 0
  FN: Chonbuk
Sentence: SEOUL 1996-08-30
  FP: SEOUL 1996-08-30
  FN: SEOUL
Sentence: LG 2 OB 0
  FP: 2
  FN: OB
  FN: LG
Sentence: Lotte 6 Hyundai 2
  FP: 2
  FN: Lotte
Sentence: Hyundai 6 Lotte 5
  FP: 6 Lotte 5
  FN: Lotte
Sentence: Haitai 2 Samsung 0
  FP: Haitai 2 Samsung 0
  FN: Haitai
  FN: Samsung
Sentence: Samsung 10 Haitai 3
  FP: 3
  FN: Haitai
Sentence: Hanwha 6 Ssangbangwool 5
  FP: 6
  FP: 5
  FN: Hanwha
  FN: Ssangbangwool
Sentence: Note - Lotte and Hyundai , Haitai and Samsung played two games .
  FP: two
  FN: Lotte
Sentence: Haitai 64 2 43 .596 -
  FP: 64 2 43
  FN: Haitai
Sentence: Ssangbangwool 59 2 49 .545 5 1/2
  FP: .545 5 1/2
  FN: Ssangbangwool
Sentence: Hanwha 58 1 49 .542 6
  FP: 58
  FP: 49
  FP: 6
Sentence: Hyundai 57 5 49 .536 6 1/2
  FP: 57
  FP: 5 49 .536 6 1/2
Sentence: Samsung 49 5 56 .468 14
  FP: 14
Sentence: Lotte 46 6 54 .462 14 1/2
  FP: 14 1/2
  FN: Lotte
Sentence: LG 46 5 59 .441 17
  FP: 17
  FP: 46
  FN: LG
Sentence: OB 42 6 62 .409 20 1/2
  FP: 42
  FP: 20 1/2
  FN: OB
Sentence: TENNIS - FRIDAY 'S RESULTS FROM THE U.S. OPEN .
  FP: U.S.
  FN: U.S. OPEN
Sentence: NEW YORK 1996-08-30
  FP: 1996-08-30
Sentence: Results from the U.S. Open Tennis Championships at the National Tennis Centre on Friday ( prefix number denotes seeding ) :
  FP: the U.S. Open Tennis Championships
  FP: the National Tennis Centre
  FP: Friday
  FN: National Tennis Centre
  FN: U.S. Open Tennis Championships
Sentence: Sandrine Testud ( France ) beat Ines Gorrochategui ( Argentina ) 4-6 6-2 6-1
  FP: 4-6
  FP: 6-1
Sentence: 4 - Goran Ivanisevic ( Croatia ) beat Scott Draper ( Australia ) 6-7 ( 1-7 ) 6-3 6-4 6-4
  FP: Scott Draper ( Australia
  FP: 6-7
  FP: 1-7
  FP: 6-3
  FP: 4
  FN: Australia
  FN: Croatia
  FN: Goran Ivanisevic
  FN: Scott Draper
Sentence: Tim Henman ( Britain ) beat Doug Flach ( U.S. ) 6-3 6-4 6-2
  FP: 6-3
Sentence: Mark Philippoussis ( Australia ) beat Andrei Olhovskiy ( Russia ) 6 - 3 6-4 6-2
  FP: 6 - 3 6-4 6-2
Sentence: Sjeng Schalken ( Netherlands ) beat David Rikl ( Czech Republic ) 6 - 2 6-4 6-4
  FP: 6 - 2 6-4 6-4
Sentence: Guy Forget ( France ) beat 17 - Felix Mantilla ( Spain ) 6-4 7-5 6-3
  FP: 17
  FP: 6-3
  FP: 6-4 7-5
  FN: Felix Mantilla
Sentence: Alexander Volkov ( Russia ) beat Mikael Tillstrom ( Sweden ) 1-6 6- 4 6-1 4-6 7-6 ( 10-8 )
  FP: 10-8
  FP: 1-6
Sentence: Jonas Bjorkman ( Sweden ) beat David Nainkin ( South Africa ) ) 6-4 6-1 6-1
  FP: 6-4
Sentence: 8 - Lindsay Davenport ( U.S. ) beat Anne-Gaelle Sidot ( France ) 6-0 6-3
  FP: 8
  FP: Sidot
  FP: 6-0 6-3
  FN: Anne-Gaelle Sidot
  FN: Lindsay Davenport
Sentence: 4 - Conchita Martinez ( Spain ) beat Helena Sukova ( Czech Republic ) 6-4 6-3
  FP: 6-4 6-3
  FP: 4
  FN: Conchita Martinez
Sentence: Amanda Coetzer ( South Africa ) beat Irina Spirlea ( Romania ) 7-6 ( 7-5 ) 7-5
  FP: 7-5
Sentence: Add Men 's singles , second round 16 - Cedric Pioline ( France ) beat Roberto Carretero ( Spain ) 4-6 6 - 2 6-2 6-1 Alex Corretja ( Spain ) beat Filippo Veglio ( Switzerland ) 6-7 ( 4- 7 ) 6-4 6-4 6-0
  FP: second
  FP: 16
  FP: 6-7
  FP: 7
  FP: 4-6
  FN: Cedric Pioline
Sentence: Add Women 's singles , third round Linda Wild ( U.S. ) beat Barbara Rittner ( Germany ) 6-4 4-6 7-5 Asa Carlsson ( Sweden ) beat 15 - Gabriela Sabatini ( Argentina ) 7-5 3-6 6-2
  FP: 7-5 Asa Carlsson
  FP: 6-4 4-6
  FP: 15 - Gabriela Sabatini
  FP: third
  FP: 3-6
  FP: 6-2
  FN: Gabriela Sabatini
  FN: Asa Carlsson
Sentence: Add Men 's singles , second round 1 - Pete Sampras ( U.S. ) beat Jiri Novak ( Czech Republic ) 6-3 1-6 6-3 4-6 6-4 Paul Haarhuis ( Netherlands ) beat Michael Tebbutt ( Australia ) 1- 6 6-2 6-2 6-3
  FP: second
  FP: 6-2 6-3
  FP: 1 - Pete Sampras
  FP: 6 6-2
  FP: 1-6 6-3 4-6
  FP: 6-3
  FN: Pete Sampras
Sentence: Add Women 's singles , third round Lisa Raymond ( U.S. ) beat Kimberly Po ( U.S. ) 6-3 6-2
  FP: 6-3
  FP: third
Sentence: Andrei Medvedev ( Ukraine ) beat Jan Kroslak ( Slovakia ) 6-4 6-3
  FP: 6-4 6-3
Sentence: Petr Korda ( Czech Republic ) bat Bohdan Ulihrach ( Czech Republic ) 6-0 7-6 ( 7-5 ) 6-2
  FP: 6-2
  FN: Petr Korda
Sentence: 2 - Monica Seles ( U.S. ) beat Dally Randriantefy ( Madagascar )
  FP: 2
  FP: Dally Randriantefy ( Madagascar
  FN: Madagascar
  FN: Monica Seles
  FN: Dally Randriantefy
Sentence: Add men 's singles , second round 12 - Todd Martin ( U.S. ) beat Andrea Gaudenzi ( Italy ) 6-3 6-2 6-2 Stefan Edberg ( Sweden ) beat Bernd Karbacher ( Germany ) 3-6 6-3 6-3 1-0 retired ( leg injury )
  FP: 6-3
  FP: 3-6
  FP: 6-3
  FP: second
  FP: 12
Sentence: BASEBALL - MAJOR LEAGUE STANDINGS AFTER THURSDAY 'S GAMES .
  FN: MAJOR LEAGUE
Sentence: NEW YORK 1996-08-30
  FP: 1996-08-30
Sentence: AMERICAN LEAGUE EASTERN DIVISION
  FP: AMERICAN LEAGUE EASTERN
  FN: AMERICAN LEAGUE EASTERN DIVISION
Sentence: NEW YORK 74 59 .556 -
  FP: 74 59
Sentence: BALTIMORE 70 63 .526 4
  FP: 4
  FP: BALTIMORE 70 63
  FN: BALTIMORE
Sentence: BOSTON 69 65 .515 5 1/2
  FP: 5 1/2
  FP: BOSTON 69 65
  FN: BOSTON
Sentence: TORONTO 63 71 .470 11 1/2
  FP: 11 1/2
  FP: 63 71
Sentence: DETROIT 48 86 .358 26 1/2
  FP: 48 86
  FP: 26 1/2
Sentence: CENTRAL DIVISION
  FN: CENTRAL DIVISION
Sentence: CLEVELAND 80 53 .602 -
  FP: CLEVELAND 80 53
  FP: .602
  FN: CLEVELAND
Sentence: CHICAGO 71 64 .526 10
  FP: 10
  FN: CHICAGO
Sentence: MINNESOTA 67 67 .500 13 1/2
  FP: 67 67
  FP: 13 1/2
  FN: MINNESOTA
Sentence: MILWAUKEE 64 71 .474 17
  FP: 64 71
  FP: 17
  FN: MILWAUKEE
Sentence: KANSAS CITY 61 74 .452 20
  FP: 20
Sentence: WESTERN DIVISION
  FN: WESTERN DIVISION
Sentence: TEXAS 75 58 .564 -
  FP: 75 58
Sentence: SEATTLE 70 63 .526 5
  FP: 5
  FP: 70 63

We can see that most of the false positives were due to spaCy recognising numbers (both as text and numbers) as names, while most of the false negatives were due to spaCy not recognising certain names of cities and not being able to recognise abbreveations of peoples names.

Now, use the insights from your error analysis to improve the automated prediction that you implemented in Problem&nbsp;2. While the best way to do this would be to [update spaCy&rsquo;s NER model](https://spacy.io/usage/linguistic-features#updating) using domain-specific training data, for this lab it suffices to write code to post-process the output produced by spaCy. To filter out specific labels it is useful to know the named entity label scheme, which can be found in the [model's documentation](https://spacy.io/models/en#en_core_web_sm). You should be able to improve the F1 score from Problem&nbsp;2 by at last 15 percentage points.

In [9]:
keep = {"GPE", "ORG", "PERSON", "EVENT", "NORP", "LANGUAGE"}

pred_filter = set()
for row in df_dev.itertuples(False):
    for ent in nlp(row[1]).ents:
        if ent.label_ in keep:
            pred_filter.add((row[0], ent.start, ent.end))


evaluation_report(spans_dev_gold, pred_filter)

Precision:  0.857233771743742
Recall:  0.6829474395808687
F1 score:  0.7602295174489699

Show that you achieve the performance goal by reporting the evaluation measures that you implemented in Problem&nbsp;1.

Before going on, we ask you to store the outputs of the improved named entity recognizer on the development data in a new data frame. This new frame should have the same layout as the original data frame for the development data that you loaded above, but should contain the *predicted* start and end positions for each token span, rather than the gold positions. As the `label` of each span, you can use the special value `--NME--`.

In [10]:
df_dev_pred = pd.DataFrame(data=pred_filter, columns=["sentence_id", "beg", "end"])
df_dev_pred["label"] = "--NME--"
df_dev_pred["sentence"] = df_dev_pred["sentence_id"].apply(lambda x: df_dev.loc[df_dev["sentence_id"] == x].iloc[0][1])

df_dev_pred = df_dev_pred[["sentence_id", "sentence", "beg", "end", "label"]]

df_dev_pred.head()

,sentence_id,sentence,beg,end,label
0,1009-014,Mexican growers and distributors would have to...,14,15,--NME--
1,1063-002,Ukraine beat Northern Ireland 1-0 ( halftime 0...,0,1,--NME--
2,1082-002,Azerbaijan beat Switzerland 1-0 ( halftime 1-0...,13,14,--NME--
3,1096-023,Cubs shortstop Jose Hernandez committed three ...,2,4,--NME--
4,0958-029,BOSTON AT OAKLAND,0,1,--NME--

## Problem 4: Entity linking

Now that we have a method for predicting mention spans, we turn to the task of **entity linking**, which amounts to predicting the knowledge base entity that is referenced by a given mention. In our case, for each span we want to predict the Wikipedia page that this mention references.

Start by extending the generator function that you implemented in Problem&nbsp;2 to labelled spans.

In [11]:
def gold_mentions(df):
    """Yield the gold-standard mentions in a data frame.

    Args:
        df: A data frame.

    Yields:
        The gold-standard mention spans in the specified data frame as
        quadruples consisting of the sentence id, start position, end
        position and entity label of each span.
    """
    for row in df.itertuples(False):
        yield (row[0], row[2], row[3], row[4])

A naive baseline for entity linking on our data set is to link each mention span to the Wikipedia page name that we get when we join the tokens in the span by underscores, as is standard in Wikipedia page names. Suppose, for example, that a span contains the two tokens

    Jimi Hendrix

The baseline Wikipedia page name for this span would be

    Jimi_Hendrix

Implement this naive baseline and evaluate its performance. Print the evaluation measures that you implemented in Problem&nbsp;1.

**Here and in the remainder of this lab, you should base your entity predictions on the predicted spans that you computed in Problem&nbsp;3.**

In [12]:
pred = set()
for row in df_dev_pred.itertuples(False):
    wiki = '_'.join(row[1].split(' ')[row[2]:row[3]])

    pred.add((row[0], row[2], row[3], wiki))
    
evaluation_report(set(gold_mentions(df_dev)), pred)

Precision:  0.32011030971574034
Recall:  0.25502788575291535
F1 score:  0.2838867463079673

## Problem 5: Extending the training data using the knowledge base

State-of-the-art approaches to entity linking exploit information in knowledge bases. In our case, where Wikipedia is the knowledge base, one particularly useful type of information are links to other Wikipedia pages. In particular, we can interpret the anchor texts (the highlighted texts that you click on) as mentions of the entities (pages) that they link to. This allows us to harvest long lists of mention–entity pairings.

The following cell loads a data frame summarizing anchor texts and page references harvested from the first paragraphs of the English Wikipedia. The data frame also contains all entity mentions in the training data (but not the development or the test data).

In [12]:
with bz2.open('kb.tsv.bz2', 'rt') as source:
    df_kb = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

To understand what information is available in this data, the following cell shows the entry for the anchor text `Sweden`.

In [14]:
df_kb.loc[df_kb.mention == 'Sweden']

      mention                                 entity      prob
17436  Sweden                                 Sweden  0.985768
17437  Sweden          Sweden_national_football_team  0.014173
17438  Sweden  Sweden_men's_national_ice_hockey_team  0.000059

As you can see, each row of the data frame contains a pair $(m, e)$ of a mention $m$ and an entity $e$, as well as the conditional probability $P(e|m)$ for mention $m$ referring to entity $e$. These probabilities were estimated based on the frequencies of mention–entity pairs in the knowledge base. The example shows that the anchor text &lsquo;Sweden&rsquo; is most often used to refer to the entity [Sweden](http://en.wikipedia.org/wiki/Sweden), but in a few cases also to refer to Sweden&rsquo;s national football and ice hockey teams. Note that references are sorted in decreasing order of probability, so that the most probable pairing come first.

Implement an entity linking method that resolves each mention to the most probable entity in the data frame. If the mention is not included in the data frame, you can predict the generic label `--NME--`. Print the precision, recall, and F1 of your method using the function that you implemented for Problem&nbsp;1.

In [29]:
pred = set()
for row in df_dev_pred.itertuples(False):
    mention = ' '.join(row[1].split(' ')[row[2]:row[3]])
    mentions = df_kb.loc[df_kb.mention == mention]
    if not mentions.empty:
        wiki =  mentions.iloc[0]["entity"]
    else:
        wiki = "--NME--"
        
    pred.add((row[0], row[2], row[3], wiki))
    
evaluation_report(set(gold_mentions(df_dev)), pred)

Precision:  0.65634280865507
Recall:  0.5229001183031942
F1 score:  0.5820713009124259

## Problem 6: Context-sensitive disambiguation

Consider the entity mention &lsquo;Lincoln&rsquo;. The most probable entity for this mention turns out to be [Lincoln, Nebraska](http://en.wikipedia.org/Lincoln,_Nebraska); but in pages about American history, we would be better off to predict [Abraham Lincoln](http://en.wikipedia.org/Abraham_Lincoln). This suggests that we should try to disambiguate between different entity references based on the textual context on the page from which the mention was taken. Your task in this last problem is to implement this idea.

Set up a dictionary that contains, for each mention $m$ that can refer to more than one entity $e$, a separate Naive Bayes classifier that is trained to predict the correct entity $e$, given the textual context of the mention. As the prior probabilities of the classifier, choose the probabilities $P(e|m)$ that you used in Problem&nbsp;5. To let you estimate the context-specific probabilities, we have compiled a data set with mention contexts:

In [13]:
with bz2.open('contexts.tsv.bz2') as source:
    df_contexts = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

This data frame contains, for each ambiguous mention $m$ and each knowledge base entity $e$ to which this mention can refer, up to 100 randomly selected contexts in which $m$ is used to refer to $e$. For this data, a **context** is defined as the 5 tokens to the left and the 5 tokens to the right of the mention. Here are a few examples:

In [31]:
df_contexts.head()

,mention,entity,context
0,1970,UEFA_Champions_League,Cup twice the first in @ and the second in 1983
1,1970,FIFA_World_Cup,America 1975 and during the @ and 1978 World C...
2,1990 World Cup,1990_FIFA_World_Cup,Manolo represented Spain at the @
3,1990 World Cup,1990_FIFA_World_Cup,Hašek represented Czechoslovakia at the @ and ...
4,1990 World Cup,1990_FIFA_World_Cup,renovations in 1989 for the @ The present capa...

Note that, in each context, the position of the mention is indicated by the `@` symbol.

From this data frame, it is easy to select the data that you need to train the classifiers – the contexts and corresponding entities for all mentions. To illustrate this, the following cell shows how to select all contexts that belong to the mention &lsquo;Lincoln&rsquo;:

In [32]:
df_contexts.context[df_contexts.mention == 'Lincoln']

41465    Nebraska Concealed Handgun Permit In @ municip...
41466    Lazlo restaurants are located in @ and Omaha C...
41467    California Washington Overland Park Kansas @ N...
41468    City Missouri Omaha Nebraska and @ Nebraska It...
41469    by Sandhills Publishing Company in @ Nebraska USA
                               ...
41609                                      @ Leyton Orient
41610                    English division three Swansea @
41611    league membership narrowly edging out @ on goa...
41612                                          @ Cambridge
41613                                                   @
Name: context, Length: 149, dtype: object

Implement the context-sensitive disambiguation method and evaluate its performance. Here are some more hints that may help you along the way:

**Hint 1:** The prior probabilities for a Naive Bayes classifier can be specified using the `class_prior` option. You will have to provide the probabilities in the same order as the alphabetically sorted class (entity) names.

**Hint 2:** Not all mentions in the knowledge base are ambiguous, and therefore not all mentions have context data. If a mention has only one possible entity, pick that one. If a mention has no entity at all, predict the `--NME--` label.

In [51]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

dic = {}

class dummyCount():
    
    def transform(self, junk):
        return junk

class dummyPredict():
    
    def __init__(self, entry):
        self.entry = entry
        
    def predict(self, junk):
        return self.entry
    
for mention in df_kb.mention.unique():
    entities = df_kb.loc[df_kb.mention == mention].sort_values(by=["entity"])
    if len(entities) > 1:
        clf = MultinomialNB(class_prior=entities["prob"].to_numpy())
        X = df_contexts.context[df_contexts.mention == mention].to_numpy()
        vectorizer = CountVectorizer()
        X = vectorizer.fit_transform(X)
        Y = df_contexts.entity[df_contexts.mention == mention].to_numpy()
        clf.fit(X, Y)
        dic[mention] = (clf, vectorizer)
    else:
        dic[mention] = (dummyPredict(entities["entity"].values), dummyCount())

In [54]:
pred = set()
for row in df_dev_pred.itertuples(False):
    mention = ' '.join(row[1].split(' ')[row[2]:row[3]])
    if mention in dic:
        mentions = dic[mention]
        X = mentions[1].transform([row[1]])
        wiki =  mentions[0].predict(X)[0]
    else:
        wiki = "--NME--"
        
    pred.add((row[0], row[2], row[3], wiki))
    
evaluation_report(set(gold_mentions(df_dev)), pred)

Precision:  0.671828595672465
Recall:  0.5352374514111881
F1 score:  0.5958047220393189

You should expect to see a small (around 1&nbsp;unit) increase in both precision, recall, and F1.

## Reflection questions

The following reflection questions will help you prepare for the diagnostic test. Answer each of them in the form of a short text and put your answers in the cell below. You will get feedback on your answers from your lab assistant.

**RQ 5.1:** In Problem&nbsp;3, you did an error analysis on the task of recognizing text spans mentioning named entities. Summarize your results. Pick one type of error that you observed. How could you improve the model&rsquo;s performance on this type of error? What resources (such as domain knowledge, data, compute) would you need to implement this improvement?

**RQ 5.2:** Thinking back about Problem&nbsp;6, explain what the word *context* refers to in the task addressed there, and how context can help to disambiguate between different entities. Suggest other types of context that you could use for disambiguation.

**RQ 5.3:** One type of entity mentions that we did not cover explicitly in this lab are pronouns. As an example, consider the sentence pair *Ruth Bader Ginsburg was an American jurist*. *She served as an associate justice of the Supreme Court from 1993 until her death in 2020*. What facts would you want to extract from this sentence pair? How do pronouns make fact extraction hard?

**5.1**: One of the most common errors we observed was that the model kept missing the names of non-american people and locations. This could be solved by giving the model more data from different nations.

**5.2**: Context in this case refers to the sentence the given word was a part of. When words about sports occur around the given world, like for example sweden, then we can assume that the lable is not the county but the sports team. Another type of context we could use would be to the sentences by having an unsupervised model identify the topics of the sentence, then the topics could be used to figure out what the word could be referring to.

**5.3**: The facts we would like to extract from this pair would be that Ruth served in the Supreme Court. The problem in this case is that the only link between these sentences is the pronoun "she". For a program to be able to connect these two sentences with the help of the pronoun would require abilites to recognize context over multiple sentences and not just locally like how it was performed in problem 6.

**This was the last lab in the Text Mining course. Congratulations! 🥳**